.top-bar {
  height: 90px;
  background-color: $background-dark;

  .ui.grid {
    margin: 0;
    padding: 0;
    .column {
      padding: 0;
    }
  }
  &__left {
    display: inline-flex !important;
    align-items: center;
    img {
      height: 50px;
      width: 100px;
      transition: all 0.5s;

      &:hover {
          transform: translateX(-15px);
      }
    }
  }
}
